@model MessageBoardApp.Models.Group;
<h1>Details</h1>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<ul>
@foreach(Message message in ViewBag.Messages)
{
  @if (Model.GroupId == message.GroupId)
  {
  <li>
    @message.Header - @message.Body
  </li>
  }
}
</ul>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.GroupId })</p>