@{
  ViewData["Title"] = "Create Message";
  int personId = ViewBag.CurrentUser.PersonId;
}

@model MessageBoardApp.Models.Message

<div class="jumbotron">
  <h2>Add a new message</h2>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Header)
  @Html.TextBoxFor(model => model.Header)

  @Html.LabelFor(model => model.Body)
  @Html.TextBoxFor(model => model.Body)

  @Html.LabelFor(model => model.Group)
  @Html.DropDownList("GroupId")

  <input data-val="true" data-val-required="The PersonId field is required." id="PersonId" name="PersonId" type="hidden" value="@personId">

  <input type="submit" value="Add new message" class="btn btn-dark" />
}