@{
  ViewData["Title"] = "Create Message";
}

@model MessageBoardApp.Models.Message

@if (ViewBag.CurrentUser.PersonId == Model.PersonId)
{
  <div class="jumbotron">
  <h2>Edit message</h2>
  </div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MessageId)
    @Html.HiddenFor(model => model.PersonId)

    @Html.LabelFor(model => model.Header)
    @Html.EditorFor(model => model.Header)

    @Html.LabelFor(model => model.Body)
    @Html.EditorFor(model => model.Body)

    @Html.Label("Select Group")
    @Html.DropDownList("GroupId")

    <input type="submit" value="Edit" class="btn btn-dark" />
  }
}
else
{
  <p>You are not authorized to perform this action.</p>
}